{% extends 'base.html.twig' %}

{% block title %}Cos de cumparaturi{% endblock %}

{% block head %}
    <style>
        .nav{
            height: 100px;
            flex-direction: row;
            box-shadow: 0 2rem 8rem rgba(0,0,0, 0.2);
            border-radius: .8rem;
        }
        .logo{
            float: left;
            padding: 5px 150px;
        }
        .content{
            display: inline-block;
            float: right;
            margin-left: 500px;
            padding: 10px 25px;
            margin-top: 20px;
            text-align: left;
            border-bottom-style: none;
        }
        .a-content{
            all: unset;
            font-family: 'Arial', sans-serif;
            font-size: 20px;
            color: black;
            padding: 14px 25px;
            border-radius: 100px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }
        .a-content:hover{
            background-color: #eeeeee;
            border-bottom-color: #5b5b5b;
            border-bottom-width: initial;
        }


    </style>

    <div class="nav">
            <div class="logo">
                <a href="{{ path('home') }}"><img src="{{ asset('/uploads/images/logo/AndomaElectro_logo.jpg') }}" alt="LOGO" width="90px" style="border-radius: 10px"></a>
            </div>
            <div class="content">

                {% if app.user %}
                    {% if app.user.username == "admin" %}
                        <a href="{{ path("admin") }}" class="a-content">ADMIN</a>

                    {% endif %}
                {% endif %}
                <a href="{{ path('home') }}" class="a-content">Acasa</a>
                <a href="{{ path('product_catalog') }} " class="a-content">Catalog de produse</a>
                <a href="{{ path('news') }}" class="a-content">Oferte si Noutati</a>
                <a href="{{ path('cart') }}" class="a-content">Cos</a>
                {% if app.user %}
                    <a href="{{ path('app_logout') }}" class="a-content">Deconectare</a><div class="a-content" style="all: unset; font-family: Arial, sans-serif; font-size: 20px; padding-left: 2px; color: #66afe9">Bine ai venit, {{ app.user.username }}!</div>
                {% elseif app.user == null %}
                    <a href="{{ path('app_login') }}" class="a-content">Inregistrare</a>
                    <a href="{{ path('register_page') }}" class="a-content">Creaza cont</a>
                {% endif %}

            </div>
    </div>
{% endblock %}

{% block body %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
          crossorigin="anonymous">
    <style>
        h1{
            padding: 0;
        }
        .container{
            margin-left: 0;
        }
        .col-md-8{
            float: left;
        }
        .col-md-4{
            float: right;
        }
        .card-header{
            background-color: #cbe5f8;
            font-family: Arial sans-serif;
            font-size: 24px;
        }

    </style>
    <div class="container mt-4">
        <h1>Produsele tale</h1>
        {% if cart.items.count > 0 %}
            <div class="row mt-4">
                <div class="col-md-8"></div>
                <div class="col-md-4"></div>
            </div>
        {% else %}
            <div class="alert alert-info">
                Cosul tau este gol, intoarce-te la <a href="{{ path('product_catalog') }}">catalogul de produse</a>.
            </div>
        {% endif %}
    </div>

    <div class="col-md-8">
        {{ form_start(form) }}
        <div class="card">
            <div class="card-header">
                <h5 style="float: left; font-size: 24px"><b>Produse</b></h5>
                <div class="ml-auto" style="float: right">
                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                    {{ form_widget(form.clear, {'attr': {'class': 'btn btn-danger'}}) }}
                </div>
            </div>
            <ul class="list-group list-group-flush">
                {% for item in form.items %}
                    <li class="list-group-item d-flex">
                        <div class="flex-fill mr-2">
                            <img src="{{ item.vars.data.product.image }}" width="124" alt="Product image">
                        </div>
                        <div class="flex-fill mr-2">
                            <h5 class="mt-0 mb-0">{{ item.vars.data.product.title }}</h5>
                            <small>{{ item.vars.data.product.description[:50] }}...</small>
                            <div class="form-inline mt-2">
                                <div class="form-group mb-0 mr-2">
                                    {{ form_widget(item.quantity, {
                                        'attr': {
                                            'class': 'form-control form-control-sm ' ~ (item.quantity.vars.valid ? '' : 'is-invalid')
                                        }
                                    }) }}
                                    <div class="invalid-feedback">
                                        {{ form_errors(item.quantity) }}
                                    </div>
                                </div>
                                {{ form_widget(item.remove, {'attr': {'class': 'btn btn-danger'}}) }}
                            </div>
                        </div>
                        <div class="flex-fill mr-2 text-right">
                            <b>{{ item.vars.data.product.price }} Lei</b>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {{ form_end(form) }}
    </div>
    <form action="" method="post">
    <div class="col-md-4">
        <div class="card mt-4 mt-md-0">
            <h5 class="card-header"><b>Rezumat</b></h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between">
                    <div><b>Total</b></div>
                    <span><b>{{ cart.total }} Lei</b></span>
                </li>
            </ul>
            <div class="card-body">
                <button type="submit" name="submitOrder" class="btn btn-primary btn-block">Trimite comanda!</button>
            </div>
        </div>
    </div>
    </form>
{% endblock %}