{% extends 'base.html.twig' %}

{% block head %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block title %}{{ product.title }}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
{% endblock %}

{% block body %}
    <style>
        .img-item{
            width: 150px;
            height: auto;
        }
    </style>

    <link rel="stylesheet" href="{{ asset('css/product_detail.css') }}">
    <div class = "card-wrapper">
        <div class = "card">

            <div class = "product-imgs">
                <div class = "img-display">
                    <div class = "img-showcase">
                        <img src = "{{ product.image }}" alt = "shoe image">
                        <img src = "{{ product.getImageOne }}" alt = "shoe image">
                        <img src = "{{ product.getImageTwo }}" alt = "shoe image">
                        <img src = "{{ product.getImageThree }}" alt = "shoe image">
                    </div>
                </div>
                <div class = "img-select">
                    <div class = "img-item" >
                        <a href = "#" data-id = "1">
                            <img src = "{{ product.image }}" alt = "shoe image">
                        </a>
                    </div>
                    <div class = "img-item">
                        <a href = "#" data-id = "2">
                            <img src = "{{ product.getImageOne }}" alt = "shoe image">
                        </a>
                    </div>
                    <div class = "img-item">
                        <a href = "#" data-id = "3">
                            <img src = "{{ product.getImageTwo }}" alt = "shoe image">
                        </a>
                    </div>
                    <div class = "img-item">
                        <a href = "#" data-id = "4">
                            <img src = "{{ product.getImageThree }}" alt = "shoe image">
                        </a>
                    </div>
                </div>
            </div>
            <div class = "product-content">
                <h2 class = "product-title">{{ product.title }}</h2>

                <div class = "product-price">
                    <p class = "price">Pret: <span>{{ product.price }} lei</span></p>
                </div>

                <div class = "product-detail">
                    <span>
                        <h2 class="detail">Detalii:</h2>
                        <label for="{{ product.brand }}">
                            Compania producatoare:
                        </label><p>{{ product.brand }}</p>
                        <p>{{ product.description }}</p>
                    </span>
                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_label(form.quantity) }}
                        {{ form_widget(form.quantity, {
                            'attr': {
                                'class': 'form-control ' ~ (form.quantity.vars.valid ? '' : 'is-invalid')
                            }
                        }) }}
                        <div class="invalid-feedback">
                            {{ form_errors(form.quantity) }}
                        </div>
                    </div>
                    {{ form_widget(form.add, {'attr': {'class': 'btn btn-warning w-25'}}) }}
                    {{ form_end(form) }}
                </div>
                </div>

    <script>
        const imgs = document.querySelectorAll('.img-select a');
        const imgBtns = [...imgs];
        let imgId = 1;

        imgBtns.forEach((imgItem) => {
            imgItem.addEventListener('click', (event) => {
                event.preventDefault();
                imgId = imgItem.dataset.id;
                slideImage();
            });
        });

        function slideImage(){
            const displayWidth = document.querySelector('.img-showcase img:first-child').clientWidth;

            document.querySelector('.img-showcase').style.transform = `translateX(${- (imgId - 1) * displayWidth}px)`;
        }

        window.addEventListener('resize', slideImage);
    </script>


{% endblock %}